hello.txt
hello.txt
.Rproj.user
.Rhistory
git_guide.Rproj
knit/git_lesson_pres_cache
knit/git_lesson_pres_files
knit/git_lesson_pres.R
knit/git_lesson_pres.tex
knit/git_lesson_pres.Rmd
.RData
git_lesson_pres_cache
.gitignore
